In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_excel('election_results.xlsx')
df

,District,Incumbent,Party,Biden 2020,Trump 2020,Total 2020,Biden% 2020,Trump% 2020,Clinton 2016,Trump 2016,Total 2016,Clinton% 2016,Trump% 2016
0,AK-AL,Don Young,(R),153778,189951,357569,0.430065,0.531229,116454,163387,309407,0.376378,0.528065
1,AL-01,Jerry Carl,(R),117136,211370,331886,0.352940,0.636875,103364,192634,303478,0.340598,0.634754
2,AL-02,Barry Moore,(R),107776,195953,306714,0.351389,0.638879,94299,185505,285664,0.330105,0.649382
3,AL-03,Mike Rogers,(R),109495,212012,324741,0.337176,0.652865,93300,188477,288776,0.323088,0.652675
4,AL-04,Robert Aderholt,(R),57133,260535,320725,0.178137,0.812331,50722,233661,290726,0.174467,0.803716
...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,WI-08,Mike Gallagher,(R),174136,241140,421811,0.412829,0.571678,142677,207620,369562,0.386071,0.561800
431,WV-01,David McKinley,(R),81849,183904,270510,0.302573,0.679842,64384,165934,243894,0.263984,0.680353
432,WV-02,Alex Mooney,(R),92623,184784,282556,0.327804,0.653973,73487,164674,250267,0.293634,0.657993
433,WV-03,Carol Miller,(R),61512,176694,241586,0.254617,0.731392,50923,158763,218890,0.232642,0.725310
434,WY-AL,Liz Cheney,(R),73491,193559,275026,0.267215,0.703784,55973,174419,248945,0.224841,0.700633

In [37]:
to_drop = ['Incumbent', 'Biden% 2020', 'Trump% 2020', 'Clinton% 2016', 'Trump% 2016']
df.drop(columns=to_drop, inplace=True, axis=1)
df

,District,Party,Biden 2020,Trump 2020,Total 2020,Clinton 2016,Trump 2016,Total 2016
0,AK-AL,(R),153778,189951,357569,116454,163387,309407
1,AL-01,(R),117136,211370,331886,103364,192634,303478
2,AL-02,(R),107776,195953,306714,94299,185505,285664
3,AL-03,(R),109495,212012,324741,93300,188477,288776
4,AL-04,(R),57133,260535,320725,50722,233661,290726
...,...,...,...,...,...,...,...,...
430,WI-08,(R),174136,241140,421811,142677,207620,369562
431,WV-01,(R),81849,183904,270510,64384,165934,243894
432,WV-02,(R),92623,184784,282556,73487,164674,250267
433,WV-03,(R),61512,176694,241586,50923,158763,218890
434,WY-AL,(R),73491,193559,275026,55973,174419,248945

In [38]:
df.head()

,District,Party,Biden 2020,Trump 2020,Total 2020,Clinton 2016,Trump 2016,Total 2016
0,AK-AL,(R),153778,189951,357569,116454,163387,309407
1,AL-01,(R),117136,211370,331886,103364,192634,303478
2,AL-02,(R),107776,195953,306714,94299,185505,285664
3,AL-03,(R),109495,212012,324741,93300,188477,288776
4,AL-04,(R),57133,260535,320725,50722,233661,290726

In [39]:
df['Winner 2020'] = df.apply(lambda row: 0 if row['Biden 2020'] > row['Trump 2020'] else 1, axis=1)
df['Winner 2016'] = df.apply(lambda row: 0 if row['Clinton 2016'] > row['Trump 2016'] else 1, axis=1)

to_drop = ['Party', 'Biden 2020', 'Trump 2020', 'Clinton 2016', 'Trump 2016', 'Total 2016']
df.drop(columns=to_drop, inplace=True, axis=1)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     435 non-null    object
 1   Total 2020   435 non-null    int64
 2   Winner 2020  435 non-null    int64
 3   Winner 2016  435 non-null    int64
dtypes: int64(3), object(1)
memory usage: 13.7+ KB