In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('total_pop.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Columns: 358 entries, GEO_ID to DP05_0089PM
dtypes: object(358)
memory usage: 1.2+ MB

In [3]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [4]:
def name_to_district(row):
  district_name = ''
  # get the state
  state = row['NAME'].split(', ')[1]
  district_name += us_state_to_abbrev[state]
  district_name += '-'
  # get the district number or at large
  if '(at Large)' in row['NAME']:
    district_name += 'AL'
  else:
    district_num = row['NAME'][22:25].strip().zfill(2)
    district_name += district_num
  return district_name

In [5]:
'''
Important columns:
Median Age (years): DP05_0018E
Citizen, 18 and over population: DP05_0087E
White (percent): DP05_0037PE
Black or African American (percent): DP05_0038PE
American Indian and Alaska Native (percent): DP05_0039PE
Asian (percent): DP05_0044PE
Native Hawaiian and Other Pacific Islander (percent): DP05_0052PE
Other (percent): DP05_0057PE
Two or more races (percent): DP05_0058PE
'''

df = df.filter(items=['NAME', 'DP05_0018E', 'DP05_0087E', 'DP05_0037PE', 'DP05_0038PE', 
                'DP05_0039PE', 'DP05_0044PE', 'DP05_0052PE', 'DP05_0057PE', 'DP05_0058PE'])
df.drop(index=[0], 
        axis=0, 
        inplace=True)
df['District'] = df.apply (lambda row: name_to_district(row), axis=1)
df.drop('NAME', axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437 entries, 1 to 437
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DP05_0018E   437 non-null    object
 1   DP05_0087E   437 non-null    object
 2   DP05_0037PE  437 non-null    object
 3   DP05_0038PE  437 non-null    object
 4   DP05_0039PE  437 non-null    object
 5   DP05_0044PE  437 non-null    object
 6   DP05_0052PE  437 non-null    object
 7   DP05_0057PE  437 non-null    object
 8   DP05_0058PE  437 non-null    object
 9   District     437 non-null    object
dtypes: object(10)
memory usage: 37.6+ KB

In [7]:
# Check dupes
#df.loc[df['District'] == 'AK-AL']
#df.head()
#df.duplicated(subset=['District'])

# drop DC and PR
df = df[(df['District'] != 'DC-AL') & (df['District'] != 'PR-AL')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 1 to 436
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DP05_0018E   435 non-null    object
 1   DP05_0087E   435 non-null    object
 2   DP05_0037PE  435 non-null    object
 3   DP05_0038PE  435 non-null    object
 4   DP05_0039PE  435 non-null    object
 5   DP05_0044PE  435 non-null    object
 6   DP05_0052PE  435 non-null    object
 7   DP05_0057PE  435 non-null    object
 8   DP05_0058PE  435 non-null    object
 9   District     435 non-null    object
dtypes: object(10)
memory usage: 37.4+ KB

In [8]:
column_name_translate = {
  'DP05_0018E': 'Median Age (years)',
  'DP05_0087E': 'Citizen, 18 and over population',
  'DP05_0037PE': 'White (percent)',
  'DP05_0038PE': 'Black or African American (percent)',
  'DP05_0039PE': 'American Indian and Alaska Native (percent)',
  'DP05_0044PE': 'Asian (percent)',
  'DP05_0052PE': 'Native Hawaiian and Other Pacific Islander (percent)',
  'DP05_0057PE': 'Other (percent)',
  'DP05_0058PE': 'Two or more races (percent)'
}

df.rename(columns=column_name_translate, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 1 to 436
Data columns (total 10 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Median Age (years)                                    435 non-null    object
 1   Citizen, 18 and over population                       435 non-null    object
 2   White (percent)                                       435 non-null    object
 3   Black or African American (percent)                   435 non-null    object
 4   American Indian and Alaska Native (percent)           435 non-null    object
 5   Asian (percent)                                       435 non-null    object
 6   Native Hawaiian and Other Pacific Islander (percent)  435 non-null    object
 7   Other (percent)                                       435 non-null    object
 8   Two or more races (percent)                           435 non-null    object
 9   District                                              435 non-null    object
dtypes: object(10)
memory usage: 37.4+ KB

In [9]:
dataset = pd.read_excel('election_results.xlsx')
dataset.loc[(dataset['Party'] == '(R)') , ['Party']] = int(1) # convert (R) to 1 
dataset.loc[(dataset['Party'] == '(D)') , ['Party']] = int(0) # cnvert (D) to 0
dataset['Winner 2016'] = dataset.apply(lambda row: 0 if row['Clinton 2016'] > row['Trump 2016'] else 1, axis=1)
dataset

,District,Incumbent,Party,Biden 2020,Trump 2020,Total 2020,Biden% 2020,Trump% 2020,Clinton 2016,Trump 2016,Total 2016,Clinton% 2016,Trump% 2016,Winner 2016
0,AK-AL,Don Young,1,153778,189951,357569,0.430065,0.531229,116454,163387,309407,0.376378,0.528065,1
1,AL-01,Jerry Carl,1,117136,211370,331886,0.352940,0.636875,103364,192634,303478,0.340598,0.634754,1
2,AL-02,Barry Moore,1,107776,195953,306714,0.351389,0.638879,94299,185505,285664,0.330105,0.649382,1
3,AL-03,Mike Rogers,1,109495,212012,324741,0.337176,0.652865,93300,188477,288776,0.323088,0.652675,1
4,AL-04,Robert Aderholt,1,57133,260535,320725,0.178137,0.812331,50722,233661,290726,0.174467,0.803716,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,WI-08,Mike Gallagher,1,174136,241140,421811,0.412829,0.571678,142677,207620,369562,0.386071,0.561800,1
431,WV-01,David McKinley,1,81849,183904,270510,0.302573,0.679842,64384,165934,243894,0.263984,0.680353,1
432,WV-02,Alex Mooney,1,92623,184784,282556,0.327804,0.653973,73487,164674,250267,0.293634,0.657993,1
433,WV-03,Carol Miller,1,61512,176694,241586,0.254617,0.731392,50923,158763,218890,0.232642,0.725310,1
434,WY-AL,Liz Cheney,1,73491,193559,275026,0.267215,0.703784,55973,174419,248945,0.224841,0.700633,1

In [10]:
to_drop = ['Incumbent', 'Biden% 2020', 'Trump% 2020', 'Clinton% 2016', 
          'Trump% 2016', 'Biden 2020', 'Trump 2020', 'Clinton 2016', 'Trump 2016', 'Total 2016']
dataset.drop(columns=to_drop, inplace=True, axis=1)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     435 non-null    object
 1   Party        435 non-null    object
 2   Total 2020   435 non-null    int64
 3   Winner 2016  435 non-null    int64
dtypes: int64(2), object(2)
memory usage: 13.7+ KB

In [11]:
dataset = dataset.merge(df, on='District', how='left')
dataset

,District,Party,Total 2020,Winner 2016,Median Age (years),"Citizen, 18 and over population",White (percent),Black or African American (percent),American Indian and Alaska Native (percent),Asian (percent),Native Hawaiian and Other Pacific Islander (percent),Other (percent),Two or more races (percent)
0,AK-AL,1,357569,1,35.0,533151,64.2,3.1,15.8,6.0,1.4,1.7,7.9
1,AL-01,1,331886,1,40.4,546223,66.9,27.4,1.0,1.4,0.0,1.1,2.1
2,AL-02,1,306714,1,39.0,513747,62.8,32.2,0.3,1.3,0.0,1.4,1.9
3,AL-03,1,324741,1,38.9,550776,68.9,26.3,0.3,1.8,0.1,1.0,1.7
4,AL-04,1,320725,1,41.1,516456,86.8,7.4,0.5,0.5,0.1,3.0,1.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,WI-08,1,421811,1,40.8,560199,89.0,1.7,2.6,2.5,0.0,1.9,2.3
431,WV-01,1,270510,1,42.3,482965,93.6,2.5,0.3,0.9,0.0,0.7,1.8
432,WV-02,1,282556,1,42.3,485281,91.8,4.4,0.2,0.9,0.0,0.4,2.3
433,WV-03,1,241586,1,44.2,452043,93.9,4.1,0.0,0.5,0.0,0.1,1.3
434,WY-AL,1,275026,1,38.1,434852,90.9,1.2,2.4,0.8,0.1,1.9,2.7

In [12]:
edu_data = pd.read_csv('total_education.csv')
'''
Important columns:
"NAME", "S1501_C01_001E", "S1501_C01_002E", "S1501_C01_003E", 
"S1501_C01_004E", "S1501_C01_005E", "S1501_C01_006E", "S1501_C01_007E", 
"S1501_C01_008E", "S1501_C01_009E", "S1501_C01_010E", "S1501_C01_011E", 
"S1501_C01_012E", "S1501_C01_013E", "S1501_C01_014E", "S1501_C01_015E"
'''


important_columns = ["NAME", "S1501_C01_001E", "S1501_C01_002E", "S1501_C01_003E", 
"S1501_C01_004E", "S1501_C01_005E", "S1501_C01_006E", "S1501_C01_007E", 
"S1501_C01_008E", "S1501_C01_009E", "S1501_C01_010E", "S1501_C01_011E", 
"S1501_C01_012E", "S1501_C01_013E", "S1501_C01_014E", "S1501_C01_015E"]

edu_data = edu_data.filter(items=important_columns)
edu_data.drop(index=[0], 
        axis=0, 
        inplace=True)
edu_data['District'] = edu_data.apply (lambda row: name_to_district(row), axis=1)
edu_data.drop('NAME', axis=1, inplace=True)
edu_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437 entries, 1 to 437
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S1501_C01_001E  437 non-null    object
 1   S1501_C01_002E  437 non-null    object
 2   S1501_C01_003E  437 non-null    object
 3   S1501_C01_004E  437 non-null    object
 4   S1501_C01_005E  437 non-null    object
 5   S1501_C01_006E  437 non-null    object
 6   S1501_C01_007E  437 non-null    object
 7   S1501_C01_008E  437 non-null    object
 8   S1501_C01_009E  437 non-null    object
 9   S1501_C01_010E  437 non-null    object
 10  S1501_C01_011E  437 non-null    object
 11  S1501_C01_012E  437 non-null    object
 12  S1501_C01_013E  437 non-null    object
 13  S1501_C01_014E  437 non-null    object
 14  S1501_C01_015E  437 non-null    object
 15  District        437 non-null    object
dtypes: object(16)
memory usage: 58.0+ KB

In [13]:
edu_data[["S1501_C01_001E", "S1501_C01_002E", "S1501_C01_003E", 
"S1501_C01_004E", "S1501_C01_005E", "S1501_C01_006E", "S1501_C01_007E", 
"S1501_C01_008E", "S1501_C01_009E", "S1501_C01_010E", "S1501_C01_011E", 
"S1501_C01_012E", "S1501_C01_013E", "S1501_C01_014E", "S1501_C01_015E"]] = edu_data[["S1501_C01_001E", "S1501_C01_002E", "S1501_C01_003E", 
"S1501_C01_004E", "S1501_C01_005E", "S1501_C01_006E", "S1501_C01_007E", 
"S1501_C01_008E", "S1501_C01_009E", "S1501_C01_010E", "S1501_C01_011E", 
"S1501_C01_012E", "S1501_C01_013E", "S1501_C01_014E", "S1501_C01_015E"]].astype('int')
edu_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437 entries, 1 to 437
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S1501_C01_001E  437 non-null    int64
 1   S1501_C01_002E  437 non-null    int64
 2   S1501_C01_003E  437 non-null    int64
 3   S1501_C01_004E  437 non-null    int64
 4   S1501_C01_005E  437 non-null    int64
 5   S1501_C01_006E  437 non-null    int64
 6   S1501_C01_007E  437 non-null    int64
 7   S1501_C01_008E  437 non-null    int64
 8   S1501_C01_009E  437 non-null    int64
 9   S1501_C01_010E  437 non-null    int64
 10  S1501_C01_011E  437 non-null    int64
 11  S1501_C01_012E  437 non-null    int64
 12  S1501_C01_013E  437 non-null    int64
 13  S1501_C01_014E  437 non-null    int64
 14  S1501_C01_015E  437 non-null    int64
 15  District        437 non-null    object
dtypes: int64(15), object(1)
memory usage: 58.0+ KB

In [14]:
# Check dupes
#edu_data.loc[edu_data['District'] == 'AK-AL']
#edu_data.head()
#edu_data.duplicated(subset=['District'])

# drop DC and PR
edu_data = edu_data[(edu_data['District'] != 'DC-AL') & (edu_data['District'] != 'PR-AL')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 1 to 436
Data columns (total 10 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Median Age (years)                                    435 non-null    object
 1   Citizen, 18 and over population                       435 non-null    object
 2   White (percent)                                       435 non-null    object
 3   Black or African American (percent)                   435 non-null    object
 4   American Indian and Alaska Native (percent)           435 non-null    object
 5   Asian (percent)                                       435 non-null    object
 6   Native Hawaiian and Other Pacific Islander (percent)  435 non-null    object
 7   Other (percent)                                       435 non-null    object
 8   Two or more races (percent)                           435 non-null    object
 9   District                                              435 non-null    object
dtypes: object(10)
memory usage: 37.4+ KB

In [15]:
def get_total_pop(row):
  total = 0
  total += row['S1501_C01_001E']
  total += row['S1501_C01_006E']
  return total

In [16]:
def percent_educated_uni(row):
  educated = 0
  total = get_total_pop(row)

  # add up educated
  educated += row['S1501_C01_004E']
  educated += row['S1501_C01_005E']
  educated += row['S1501_C01_010E']
  educated += row['S1501_C01_011E']
  educated += row['S1501_C01_012E']
  educated += row['S1501_C01_013E']

  educated_percent = float(educated / total) * 100
  return educated_percent

In [17]:
def percent_educated_under_HS(row):
  uneducated = 0
  total = get_total_pop(row)

  uneducated += row['S1501_C01_002E']
  uneducated += row['S1501_C01_003E']
  uneducated += row['S1501_C01_007E']
  uneducated += row['S1501_C01_008E']
  uneducated += row['S1501_C01_009E']

  uneducated_percent = float(uneducated / total) * 100
  return uneducated_percent

In [18]:
edu_data['Postsecondary (percent)'] = edu_data.apply (lambda row: percent_educated_uni(row), axis=1)
edu_data['Secondary or less (percent)'] = edu_data.apply (lambda row: percent_educated_under_HS(row), axis=1)

In [19]:
column_name_translate = {
  "S1501_C01_001E": "Population 18 to 24 years", 
  "S1501_C01_002E": "Population 18 to 24 years!!Less than high school graduate", 
  "S1501_C01_003E": "Population 18 to 24 years!!High school graduate (includes equivalency)", 
  "S1501_C01_004E": "Population 18 to 24 years!!Some college or associate's degree", 
  "S1501_C01_005E": "Population 18 to 24 years!!Bachelor's degree or higher", 
  "S1501_C01_006E": "Population 25 years and over", 
  "S1501_C01_007E": "Population 25 years and over!!Less than 9th grade", 
  "S1501_C01_008E": "Population 25 years and over!!9th to 12th grade, no diploma", 
  "S1501_C01_009E": "Population 25 years and over!!High school graduate (includes equivalency)", 
  "S1501_C01_010E": "Population 25 years and over!!Some college, no degree", 
  "S1501_C01_011E": "Population 25 years and over!!Associate's degree", 
  "S1501_C01_012E": "Population 25 years and over!!Bachelor's degree", 
  "S1501_C01_013E": "Population 25 years and over!!Graduate or professional degree", 
  "S1501_C01_014E": "Population 25 years and over!!High school graduate or higher", 
  "S1501_C01_015E": "Population 25 years and over!!Bachelor's degree or higher"
}

edu_data.rename(columns=column_name_translate, inplace=True)
edu_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 1 to 436
Data columns (total 18 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Population 18 to 24 years                                                  435 non-null    int64
 1   Population 18 to 24 years!!Less than high school graduate                  435 non-null    int64
 2   Population 18 to 24 years!!High school graduate (includes equivalency)     435 non-null    int64
 3   Population 18 to 24 years!!Some college or associate's degree              435 non-null    int64
 4   Population 18 to 24 years!!Bachelor's degree or higher                     435 non-null    int64
 5   Population 25 years and over                                               435 non-null    int64
 6   Population 25 years and over!!Less than 9th grade                          435 non-null    int64
 7   Population 25 years and over!!9th to 12th grade, no diploma                435 non-null    int64
 8   Population 25 years and over!!High school graduate (includes equivalency)  435 non-null    int64
 9   Population 25 years and over!!Some college, no degree                      435 non-null    int64
 10  Population 25 years and over!!Associate's degree                           435 non-null    int64
 11  Population 25 years and over!!Bachelor's degree                            435 non-null    int64
 12  Population 25 years and over!!Graduate or professional degree              435 non-null    int64
 13  Population 25 years and over!!High school graduate or higher               435 non-null    int64
 14  Population 25 years and over!!Bachelor's degree or higher                  435 non-null    int64
 15  District                                                                   435 non-null    object
 16  Postsecondary (percent)                                                    435 non-null    float64
 17  Secondary or less (percent)                                                435 non-null    float64
dtypes: float64(2), int64(15), object(1)
memory usage: 64.6+ KB

In [20]:
important_columns = ['District', 'Postsecondary (percent)', 'Secondary or less (percent)']
edu_data = edu_data.filter(items=important_columns)
# This line is a check we can use to make sure everything adds up
# edu_data['Total'] = edu_data.apply (lambda row: row['Postsecondary (percent)'] + row['Secondary or less (percent)'], axis=1)
edu_data

    District  Postsecondary (percent)  Secondary or less (percent)
1      AL-01                53.663327                    46.336673
2      AL-02                54.349422                    45.650578
3      AL-03                55.165667                    44.834333
4      AL-04                48.754005                    51.245995
5      AL-05                61.191166                    38.808834
..       ...                      ...                          ...
432    WI-05                67.303658                    32.696342
433    WI-06                58.801771                    41.198229
434    WI-07                57.026370                    42.973630
435    WI-08                58.669862                    41.330138
436    WY-AL                63.237510                    36.762490

[435 rows x 3 columns]

In [21]:
dataset = dataset.merge(edu_data, on='District', how='left')
dataset

,District,Party,Total 2020,Winner 2016,Median Age (years),"Citizen, 18 and over population",White (percent),Black or African American (percent),American Indian and Alaska Native (percent),Asian (percent),Native Hawaiian and Other Pacific Islander (percent),Other (percent),Two or more races (percent),Postsecondary (percent),Secondary or less (percent)
0,AK-AL,1,357569,1,35.0,533151,64.2,3.1,15.8,6.0,1.4,1.7,7.9,62.691647,37.308353
1,AL-01,1,331886,1,40.4,546223,66.9,27.4,1.0,1.4,0.0,1.1,2.1,53.663327,46.336673
2,AL-02,1,306714,1,39.0,513747,62.8,32.2,0.3,1.3,0.0,1.4,1.9,54.349422,45.650578
3,AL-03,1,324741,1,38.9,550776,68.9,26.3,0.3,1.8,0.1,1.0,1.7,55.165667,44.834333
4,AL-04,1,320725,1,41.1,516456,86.8,7.4,0.5,0.5,0.1,3.0,1.8,48.754005,51.245995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,WI-08,1,421811,1,40.8,560199,89.0,1.7,2.6,2.5,0.0,1.9,2.3,58.669862,41.330138
431,WV-01,1,270510,1,42.3,482965,93.6,2.5,0.3,0.9,0.0,0.7,1.8,50.744240,49.255760
432,WV-02,1,282556,1,42.3,485281,91.8,4.4,0.2,0.9,0.0,0.4,2.3,48.395891,51.604109
433,WV-03,1,241586,1,44.2,452043,93.9,4.1,0.0,0.5,0.0,0.1,1.3,41.763817,58.236183
434,WY-AL,1,275026,1,38.1,434852,90.9,1.2,2.4,0.8,0.1,1.9,2.7,63.237510,36.762490

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 434
Data columns (total 15 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   District                                              435 non-null    object
 1   Party                                                 435 non-null    object
 2   Total 2020                                            435 non-null    int64
 3   Winner 2016                                           435 non-null    int64
 4   Median Age (years)                                    435 non-null    object
 5   Citizen, 18 and over population                       435 non-null    object
 6   White (percent)                                       435 non-null    object
 7   Black or African American (percent)                   435 non-null    object
 8   American Indian and Alaska Native (percent)           435 non-null    object
 9   Asian (percent)                                       435 non-null    object
 10  Native Hawaiian and Other Pacific Islander (percent)  435 non-null    object
 11  Other (percent)                                       435 non-null    object
 12  Two or more races (percent)                           435 non-null    object
 13  Postsecondary (percent)                               435 non-null    float64
 14  Secondary or less (percent)                           435 non-null    float64
dtypes: float64(2), int64(2), object(11)
memory usage: 54.4+ KB

In [23]:
# Get Income data
income = pd.read_csv('income_all.csv')
# TODO: might need to drop a duplicate in the all table
'''
Important columns:
NAME
S1901_C01_012E
'''
# Check dupes
#income.loc[income['NAME'] == 'Congressional District (at Large) (116th Congress), Alaska']
income.head()
#income.duplicated(subset=['NAME'])

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,5001600US0101,"Congressional District 1 (116th Congress), Ala...",268033,4998,8.4,1.0,5.2,0.8,10.4,1.0,...,30805,2169,42804,2694,(X),(X),(X),(X),39.4,(X)
2,5001600US0102,"Congressional District 2 (116th Congress), Ala...",262180,4274,7.7,0.7,4.9,0.5,11.8,1.1,...,31799,1712,41631,2088,(X),(X),(X),(X),36.0,(X)
3,5001600US0103,"Congressional District 3 (116th Congress), Ala...",279236,4803,8.5,1.0,6.0,0.9,11.5,1.3,...,25093,2513,38125,3484,(X),(X),(X),(X),32.8,(X)
4,5001600US0104,"Congressional District 4 (116th Congress), Ala...",262865,4504,7.5,0.8,6.1,0.8,13.3,1.2,...,22794,1372,36682,2949,(X),(X),(X),(X),33.7,(X)

In [24]:
important_columns = ["NAME", "S1901_C01_012E"]

income = income.filter(items=important_columns)
income.drop(index=[0], 
        axis=0, 
        inplace=True)
income['District'] = income.apply (lambda row: name_to_district(row), axis=1)
income.drop('NAME', axis=1, inplace=True)
income.rename(columns={'S1901_C01_012E': 'Median Household Income (dollars)'}, inplace=True)
income

    Median Household Income (dollars) District
1                               50663    AL-01
2                               50494    AL-02
3                               51925    AL-03
4                               47531    AL-04
5                               59950    AL-05
..                                ...      ...
433                             63251    WI-06
434                             60706    WI-07
435                             65346    WI-08
436                             65003    WY-AL
437                             20474    PR-AL

[437 rows x 2 columns]

In [25]:
income_districts = income['District']
income_districts
dataset_districts = dataset['District']
dataset_districts

diff = pd.concat([income_districts,dataset_districts]).drop_duplicates(keep=False)
diff

88     DC-AL
437    PR-AL
Name: District, dtype: object

In [26]:
income = income[(income['District'] != 'DC-AL') & (income['District'] != 'PR-AL')]
income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 1 to 436
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Median Household Income (dollars)  435 non-null    object
 1   District                           435 non-null    object
dtypes: object(2)
memory usage: 10.2+ KB

In [27]:
dataset = dataset.merge(income, on='District', how='left')
dataset

,District,Party,Total 2020,Winner 2016,Median Age (years),"Citizen, 18 and over population",White (percent),Black or African American (percent),American Indian and Alaska Native (percent),Asian (percent),Native Hawaiian and Other Pacific Islander (percent),Other (percent),Two or more races (percent),Postsecondary (percent),Secondary or less (percent),Median Household Income (dollars)
0,AK-AL,1,357569,1,35.0,533151,64.2,3.1,15.8,6.0,1.4,1.7,7.9,62.691647,37.308353,75463
1,AL-01,1,331886,1,40.4,546223,66.9,27.4,1.0,1.4,0.0,1.1,2.1,53.663327,46.336673,50663
2,AL-02,1,306714,1,39.0,513747,62.8,32.2,0.3,1.3,0.0,1.4,1.9,54.349422,45.650578,50494
3,AL-03,1,324741,1,38.9,550776,68.9,26.3,0.3,1.8,0.1,1.0,1.7,55.165667,44.834333,51925
4,AL-04,1,320725,1,41.1,516456,86.8,7.4,0.5,0.5,0.1,3.0,1.8,48.754005,51.245995,47531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,WI-08,1,421811,1,40.8,560199,89.0,1.7,2.6,2.5,0.0,1.9,2.3,58.669862,41.330138,65346
431,WV-01,1,270510,1,42.3,482965,93.6,2.5,0.3,0.9,0.0,0.7,1.8,50.744240,49.255760,51480
432,WV-02,1,282556,1,42.3,485281,91.8,4.4,0.2,0.9,0.0,0.4,2.3,48.395891,51.604109,52166
433,WV-03,1,241586,1,44.2,452043,93.9,4.1,0.0,0.5,0.0,0.1,1.3,41.763817,58.236183,42553
434,WY-AL,1,275026,1,38.1,434852,90.9,1.2,2.4,0.8,0.1,1.9,2.7,63.237510,36.762490,65003

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 434
Data columns (total 16 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   District                                              435 non-null    object
 1   Party                                                 435 non-null    object
 2   Total 2020                                            435 non-null    int64
 3   Winner 2016                                           435 non-null    int64
 4   Median Age (years)                                    435 non-null    object
 5   Citizen, 18 and over population                       435 non-null    object
 6   White (percent)                                       435 non-null    object
 7   Black or African American (percent)                   435 non-null    object
 8   American Indian and Alaska Native (percent)           435 non-null    object
 9   Asian (percent)                                       435 non-null    object
 10  Native Hawaiian and Other Pacific Islander (percent)  435 non-null    object
 11  Other (percent)                                       435 non-null    object
 12  Two or more races (percent)                           435 non-null    object
 13  Postsecondary (percent)                               435 non-null    float64
 14  Secondary or less (percent)                           435 non-null    float64
 15  Median Household Income (dollars)                     435 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 57.8+ KB

In [29]:
dataset.to_csv('dataset.csv')